alias location=~/workspace/location-service/cli/bin/location
alias pin=~/workspace/public-pin-service/operation/bin/pin
alias genfbkey='node ~/Desktop/tokenGenerator/index.js | pbcopy'
alias genfbtoken='genfbkey'
alias createfbkey='genfbkey'
alias rabbit='docker run -p 5672:5672 -p 15672:15672 neorabbitmq'
alias pintegrate='pin test integration'
alias firetoken='~/workspace/firebase-token-tool/index.js'

alias datulate='gcloud beta emulators datastore start --project=test --consistency=1'

