[alias]
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	st = status
	amend = commit --amend
	unstage = reset HEAD
	uncommit = reset HEAD~
	clear = checkout -- .
	feat = "!git checkout -b feature/$1 #"
	fix = "!git checkout -b hotfix/$1 #"
	send = "!git add -A && git commit -m \"$*\" && git push #"
	tree = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	co = "!git fetch && git checkout "
[user]
	name = David Aaron Suddjian
	email = aasuddjian@gmail.com
	signingkey = 014BBDC5A9AB1D95
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	default = current
[credential]
	helper = osxkeychain
[url "git@github.com:"]
	insteadOf = https://github.com/
